<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278405378776-uv3c9t1ndg5bqrp840ebn4quio8vbl0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278405378776-uv3c9t1ndg5bqrp840ebn4quio8vbl0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBpCh1wUmSW9CJNZ51PjOQ3eXIQ4AxyE_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>278405378776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.iu.jarrwhit.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-15e90</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-15e90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278405378776:ios:b3ffb697b29930e887ddad</string>
</dict>
</plist>